body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #333;
    text-align: center;
}

header {
    background-color: #243b55;
    color: white;
    padding: 60px 20px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}
section p {
    font-size: 17px;
    line-height: 1.6;
}

header p {
    font-size: 20px;
}

section {
    background-color: white;
    margin: 25px auto;
    padding: 25px;
    max-width: 700px;
    border-radius: 12px;
}

h2 {
    color: #243b55;
}

section p {
    font-size: 17px;
    line-height: 1.6;
}
nav {
    background-color: white;
    padding: 15px;
}

nav a {
    color: #243b55;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
